# - IntelliJ ignorable files from tool configuration
*.iml
.idea/modules.xml
.idea/workspace.xml
.idea/sonarIssues.xml
.idea/caches/
.idea/libraries/
.idea/sonarlint/

# - Filed on edition mode that can be ignored
*.odt#
*.db

# - Compilation ignorable directories
.gradle/
build/
out/

# - Code coverage
javadoc/
