*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/sonarIssues.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.odt#

# - C O D E   C O V E R A G E
/Documentation/Reports