*.iml
*.odt#

/.idea/modules.xml
/.idea/workspace.xml
/.idea/sonarIssues.xml
/.idea/modules.xml
/.idea/caches/
/.idea/libraries/

.DS_Store
.gradle
/local.properties
/build
/captures
.externalNativeBuild

# - C O D E   C O V E R A G E
/javadoc
/Documentation/Reports