<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dimensinfin.android.mvc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".activity.InstrumentationActivity"
            android:label="InstrumentationActivity" >
        </activity>
    </application>
</manifest>
